// Brand colours
$colour-orange: #f25c00;
$colour-white: #f7f7f7;


// Site clolours
$colour-black: #373737;
$colour-blue: #0e4b9f;
$colour-dark-gray: #666;
$colour-light-gray: #ddd;
$colour-yellow: #fff38e;
