@font-face {
	font-family: "TT-Rounds-Condensed";
	font-style: normal;
	src: font-url("assets/fonts/ttroundscondensed-regular-webfont.woff2") format("woff2");
	src: font-url("assets/fonts/ttroundscondensed-regular-webfont.woff") format("woff");
}

@font-face {
	font-family: "TT-Rounds-Condensed";
	font-weight: bold;
	src: font-url("assets/fonts/ttroundscondensed-bold-webfont.woff2") format("woff2");
	src: font-url("assets/fonts/ttroundscondensed-bold-webfont.woff") format("woff");
}

@font-face {
	font-family: "Realtime-Rounded-Semibold";
	font-style: normal;
	src: font-url("assets/fonts/realtimerounded-semibold-webfont.woff2") format("woff2");
	src: font-url("assets/fonts/realtimerounded-semibold-webfont.woff") format("woff");
}