.content-box {
	margin: 0 auto;
	max-width: 36em;
	width: 93vw;
	padding: 0 3.5vw;
	@media (min-width: 481px) {width: 85vw; padding: 0 7.5vw;}
	@media (min-width: 769px) {width: 80vw; padding: 0 10vw;}
}

.title--mini {
  // Add top padding so that if the user clicks the first blog post while the
  // page is scrolled to the top, the title on the actual blog page does not
  // appear to jump
  @include first(1) {padding-top: 0.325em;}
	padding-bottom: vr(0.25);
}

.publish-date {
	padding-left: 0.1em;
}

.description > p {
  padding-top: vr(0.5);
  @media (min-width: 481px) {
    @include first(1) {padding-top: vr(0.25);}
  }
}

.title {
	margin-bottom: vr(1);
	padding: 0.25em 0 0.25em;
	border: 0.075em solid $colour-black;
	border-radius: 0.15em;
}

.subtitle {
	margin: vr(1.5) 0 vr(0.5);
	display: inline-block;
	padding: 0 0.25em 0.25em 0.05em;
	border-top: 0.12em solid $colour-black;
	border-right: 0.12em solid $colour-black;
	border-bottom: 0.12em solid $colour-black;
}

p {
	margin: 0;
}

p + p {
	padding-top: vr(1);
	padding-bottom: 0;
}

ol, .u-list {
  margin: vr(0.5) 0 vr(1.5);
  > li {
    margin-top: vr(0.5);
    > p {
      margin: 0;
      padding-top: vr(0.5);
    }
  }
}

kbd {
  border: 2px solid lighten($colour-dark-gray, 12%);
}

code, kbd {
	background-color: $colour-light-gray;
	border-radius: 0.2em;
	padding: 0 0.3em 0.2em;
}

.code-block {
	background-color: $colour-light-gray;
	padding: vr(1);
	margin: vr(1) 0;
	overflow: auto;
	border-radius: 0.2em;
	> code {
		padding: 0 0 0.15em;
	}
}
