@import 'vendor/typi';


// Font stacks
$body-font: TT-Rounds-Condensed,sans-serif;
$code-font: Realtime-Rounded-Semibold,monospace;


// Typi settings: breakpoints and font maps
$breakpoints: (
	small: 481px,
	large: 769px
);

$typi: (
	null: (16px, 1.36),
	small: 18px,
	large: 20px
);

$title-font-map: (
  null: (2.4em, 1.25),
  small: 2.65em,
  large: 2.9em
);

$title-listing-font-map: (
	null: (2em, 1.25),
  small: 1.9em,
  large: 1.8em
);

$subtitle-font-map: (
  null: (1.3em, 1),
  small: 1.25em,
  large: 1.2em
);

$code-font-map: (
	null: 1em
);

$kbd-font-map: (
  null: 0.85em
);


// Custom normalise
a {
	text-decoration: none;
}

html {
  font-family: $body-font;
  color: $colour-black;
}


// Styling
.nav-bar {
	font: 1.15em/140% $body-font;
}

.nav-list {
	list-style: none;
	text-align: right;
}

.nav-item .link {
	color: $colour-white;
	
	transition: text-shadow ease-out 0.3s;
	&:hover {
	  text-shadow: 1px 1px 4px lighten($colour-dark-gray, 12%);
	}
}

.publish-date {
	font-family: $code-font;
	color: $colour-dark-gray;
	line-height: 1em;
}

.title--mini {
	@include typi($title-font-map);
	margin-bottom: 0;
	font-family: $body-font;
	font-weight: normal;
	a {
    text-decoration: none;
  	text-shadow: -1px -1px 0 $colour-white, 1px -1px 0 $colour-white, -1px 1px 0 $colour-white, 1px 1px 0 $colour-white;
  	background-repeat: repeat-x;
  	background-size: 1px 3px;
  	background-position: 0 95%;
  	background-image: -webkit-linear-gradient(top, transparent 75%, transparent);
  	background-image: linear-gradient(to bottom, transparent 75%, transparent);
  	transition: background-image ease-out 0.2s;
  	color: $colour-black;
		&:hover {
	    background-image: -webkit-linear-gradient(top, $colour-dark-gray 75%, $colour-white);
    	background-image: linear-gradient(to bottom, $colour-dark-gray 75%, $colour-white);
		}
	}
}

.title {
	@include typi($title-font-map);
	font-family: $body-font;
	font-weight: normal;
	text-align: center;
	word-spacing: 0.05em;
}

.subtitle {
	@include typi($subtitle-font-map);
	font-family: $code-font;
	font-weight: normal;
	word-spacing: -0.25em;
	text-transform: uppercase;
}

p {
	font-family: $body-font;
	word-spacing: 0.075em;
	> a {
    text-decoration: none;
  	text-shadow: -1px -1px 0 $colour-white, 1px -1px 0 $colour-white, -1px 1px 0 $colour-white, 1px 1px 0 $colour-white;
  	background-repeat: repeat-x;
  	background-size: 1px 1px;
  	background-position: 0 95%;
  	background-image: -webkit-linear-gradient(top, $colour-dark-gray 75%, $colour-white);
  	background-image: linear-gradient(to bottom, $colour-dark-gray 75%, $colour-white);
  	color: $colour-black;
	}
}

ol > li {
  list-style-type: lower-roman;  
}

kbd {
	@include typi($kbd-font-map);
	font-family: $code-font;
}

code {
	@include typi($code-font-map);
	font-family: $code-font;
}

.code-block {
	white-space: pre;
}

.prompt {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: $colour-dark-gray;
}

.code-comment {
  -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  color: darken($colour-blue, 5%);
}

footer {
	text-align: center;
	color: #efefef;
	font: 0.85em/180% $body-font;
	word-spacing: 0.07rem;
}