@charset "utf-8";
@import "normalize";
@import "utilities";
@import "colours";
@import "fonts";
@import "vendor/family";
@import "typography";
@import "pages";

html {
	@include typi-base();
}

body {
	display: flex;
  flex-direction: column;
  min-height: 100vh;
	margin: 0;
	padding: 0;
	background-color: $colour-white;
}

header, footer {
  width: 100%;
}

.content-box {
  flex-grow: 1;
}

header {
	background-color: $colour-orange;
	margin-bottom: vr(1.5);
	> div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1140px;
		height: 75px;
		margin: 0 auto;
	}
	.logo {
		padding-left: 5vw;
		height: 75px;
	}
	.nav-bar {
		padding-right: 5vw;
	}
}

.nav-list {
	display: flex;
	margin: 0;
	@media (min-width: 481px) {justify-content: center;}
	@media (max-width: 480px) {flex-direction: column;}
	> .nav-item {
		@media (min-width: 481px) {margin-left: 4vw;}
	}
}

footer {
	background-color: $colour-dark-gray;
	margin-top: vr(2);
	padding-top: vr(1);
	padding-bottom: vr(1);
	line-height: 100%;
	> div {
		margin: 0 auto;
	}
}