<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content=<%=
			rb_nonce = SecureRandom.base64
			"\"default-src 'self'; script-src 'self' 'nonce-" + rb_nonce + "'\""
		%>>

    <!-- Use title from frontmatter: 'seo_title' key -->
    <title><%=
			current_page.data.seo_title || "Emmanuel Odongo"
		%></title>

		<!-- Use description from frontmatter: first paragraph of the 'abstract' key -->
		<meta name="description" content=<%=
			if current_page.data.abstract
				my_hash = JSON.parse(current_page.data.to_json)
				"\"" + my_hash["abstract"][0] + "\""
			else
				"\"Emmanuel Odongo is an aspiring web developer who writes about web design and front-end develpoment.\""
			end
		%>>

		<!-- Website favicon -->
		<link rel="apple-touch-icon" href="<%= image_path('favicon/apple-touch-icon.png') %>" sizes="180x180">
		<link rel="icon" type="image/png" href="<%= image_path('favicon/favicon-32x32.png') %>" sizes="32x32">
		<link rel="icon" type="image/png" href="<%= image_path('favicon/favicon-16x16.png') %>" sizes="16x16">
		<link rel="manifest" href="/assets/images/favicon/manifest.json">
		<link rel="mask-icon" href="<%= image_path('favicon/safari-pinned-tab.svg') %>" color="#f25c00">
		<meta name="apple-mobile-web-app-title" content="odongo.xyz">
		<meta name="application-name" content="odongo.xyz">
		<meta name="theme-color" content="#ffffff">
		<meta name="msapplication-TileColor" content="#f25c00">
		<meta name="msapplication-TileImage" content="<%= image_path('favicon/mstile-150x150.png') %>">

		<!-- <%= javascript_include_tag :all, :async => true %> -->
    <%= stylesheet_link_tag :site %>
  </head>
  
	<body>
    <header>
  		<div>
				<a href="/"><picture>
					<source srcset="<%= image_path('logo-1.5x.png') %> 1.5x, <%= image_path('logo-2x.png') %> 2x">
					<img class="logo" alt="odongo" src="<%= image_path('logo-1x.png') %>">
				</picture></a>
  			<nav class="nav-bar">
  				<ul class="nav-list">
  					<li class="nav-item"><%= link_to 'Blog', '/blog', :class => "link" %></li>
  					<li class="nav-item"><%= link_to 'Contact', '/contact.html', :class => "link" %></li>
  				</ul>
  			</nav>
  		</div>	
  	</header>
  	
		<div class="content-box">
      <%= yield %>
  	</div>

  	<footer>
  		<div>&copy; <%= DateTime::now.strftime "%Y" %> Emmanuel Odongo</div>
  	</footer>

  </body>
</html>
